/*Formatação do icone do menu hamburger e das barras*/
#menuIcon div{
    width: 35px;
    height: 5px;
    background-color: silver;
    margin: 6px 0;
}
#menuIcon{
display:none;
cursor:pointer;
padding-right: 20px;
}
.bar1, .bar2, .bar3 {
width: 35px;
height: 5px;
background-color: #333;
margin: 6px 0;
transition: 0.4s;
}
/* Rotate first bar */
.change .bar1 {
-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
transform: rotate(-45deg) translate(-9px, 6px) ;
}  
/* Fade out the second bar */
.change .bar2 {
opacity: 0;
}
/* Rotate last bar */
.change .bar3 {
-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
transform: rotate(45deg) translate(-8px, -8px) ;
}


html{
    height:100%;
}
body{
    min-height:100%;
    display: flex;
    flex-direction: column;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size:10pt;
}

/*Formatação do cabeçalho e dos seus elementos*/
header{
    display:flex;
    flex-direction: row;
    height:100px;
    color:white;
    background-color: black;
    align-items: center;
}
#logo{
    text-align: center;
    width:150px;
}
#logo img{
    height:75px; 
}
h1{
    text-align: left;
    margin:0;
}
.avatar-area img{
    height:30px;
    border-radius:50%;
    margin-left:10px;
}
.avatar-area{
    display:flex;
    flex-direction: row;
    padding-right:20px;
    align-items: center;
    justify-content: flex-end;
	flex-grow:1;
}

/*Área que contém o menu, a secção principal, a barra lateral e o footer*/
.container{
    display:flex;
    flex-direction: row;
    flex-grow:1;
}

/*Formatação da secção principal*/
section{
    background-color:rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    display:flex;
    flex-direction:column;
}
.content{
    flex-grow:1;
    display: flex;
    flex-direction: row;
}
.left-content{
    flex-grow: 1;
    padding:15px;
}

/*Formatação da área de navegação*/
nav{
    background-color: black;
    min-width: 150px;
    color:silver;
    overflow: hidden;
    transition: max-height 1s;
}
nav ul{
    margin:25px 0 0 0;
    padding:0;
    display:flex;
    flex-direction: column; 
    list-style-type: none;
}
nav li{
    height:30px;
    line-height:30px;
    width:80%;
    padding-left:10px;
    margin:0 auto 20px auto;
}
nav i,nav a{
    display:inline-block;
    color:silver;
    text-decoration: none;
}
nav i{
    width:20px;
    font-size:12pt;
}
.sel a, .sel, .sel i{
    color: darkred;
    background-color: silver;
}

/*Formatação do conteúdo da página da apresentação*/
#main p,#main li{
    line-height: 1.5;
}

/*Formatação do rodapé*/
footer p{
    margin:0;
}
footer a{
    color:black;
    text-decoration: none;;
}
footer a:hover{
    text-decoration: underline;
}
footer{
    height:25px;
    line-height: 25px;

    width:calc( 100% - 30px);
    padding:15px;
    background-color: rgba(0, 0, 0, 0.1);
    text-align:center;
}

/*Formatação da área aside e dos seus items*/
aside{
    min-width:150px;
    background-color: rgba(0, 0, 0, 0.05);
    padding:15px;
    font-size: 9pt;
}
.disc{
    display:flex;
    flex-direction: row;
    padding: 10px 5px;
}

.disc:nth-child(odd){
    background-color: rgba(0,0,0,0.15);

}
.disc:nth-child(even){
    background-color: rgba(0,0,0,0.05);
}
.disc-name{
    flex-grow: 1;
}
.bt-area{
    display:flex;
    flex-direction: row;
    margin-top:20px;
}
.del-disc{
    cursor:pointer;
}
.disc-area{
    display:flex;
    flex-direction: column;
}
.bt{
    background-color: silver;
    padding:5px;
    margin-right: 5px;
    cursor: pointer;
}

/*Formatação das áreas dos semestres, docentes e cursos*/
.cursos-area,.docentes-area{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.docente,.curso{
    margin:5px;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.05); 
}
.curso{
    width:calc((100%/3) - 10px);
}
.docente{
    width:calc((100%/4) - 10px);
}
.curso-imagem,.docente-imagem{
    text-align:center;
    padding:5px;
    background-color: rgba(0, 0, 0, 0.1);
}
.curso-info-area,.docente-info-area{
    padding:5px;
}
.curso-label{
    font-weight: bold;
}
.curso-label:after{
    content:":";
}
.curso img{
    width:90%;
    height:200px;
    object-fit: scale-down;
}
.docente img{
    width:100px;
    height:100px;
    object-fit: cover;
    border-radius: 50%;
    border-radius: 50%;
}
.docente-name{
    font-weight: bold;
}
.docente a{
    color:gray;
}
.semestres-area{
    display:flex;
    flex-direction:row;
}
.semestre{
    flex-grow:1;
    background-color: rgba(0, 0, 0, 0.05); 
    margin:5px;
    padding:10px;
}
td,th{
    border:1px solid gray;
}
table{
    border-collapse: collapse;
    width:100%;
}
.add-disc{
    cursor:pointer;
    padding:2px;
    text-align: center;
}
.search-item{
    display:flex;
    flex-direction: row;
    margin-bottom:5px;
}
.search-item label{
    display:inline-block;
    width:50px;
}

/*cursos formatação do formulário*/
.area-form{
    display: flex;
    flex-direction:row;
}
.form-left-area,.form-right-area{
    background-color:rgba(0, 0, 0, 0.05);
    border: 1px solid silver;
    margin-bottom:10px;
    padding:10px;
}
.form-left-area{
    flex-grow:1;
}
.form-right-area{
    margin-left:10px;
    width:175px;
}
#generos-area, #telefones-area{
    display:flex;
    flex-direction: row;
}
#telefones-area .item-form{
    flex-grow: 1;
}
#telefones-area .item-form:nth-child(2){
    justify-content: flex-end;
}
.item-form{
    display:flex;
    flex-direction:row;
    margin-bottom:10px;
}
.title-items{
    margin-bottom:10px;
}
.item-form input[type="text"],
.item-form input[type="email"],
.item-form select,
.item-form textarea{
    flex-grow:1;
    width:100px;/*é preciso colocar uma largura que será a largura mínima que será encurtada*/
}
.item-form select{
    height:22px;
}
.area-form textarea{
    resize: none;
}
.area-form label{
    display:inline-block;
    width:120px;
    margin-top:2px;
    text-align:right;
}
#generos-area label,
#origem-area label,
#estatutos-area label{
    width:auto;
}

#candidatura-form .bt-area{
    justify-content: center;
}
#candidatura-form .cx-small{
    width: 100px;
    flex-grow:0;
}
#btn-filter{
    margin-left: 50px;
}

.add-disc button {
    border: 0;
    padding: 0;
    background-color: inherit;
}

.add-disc i {
    font-size: 12pt;
}


@media(max-width:1200px){
    .curso,.docente{
        width:calc((100%/2) - 10px);
    }
    /*As áreas passam a ser mostradas en coluna*/   
    #telefones-area{
        flex-direction: column;
    }
    /*O segundo telefone aparece à esquerda*/
    #telefones-area .item-form:nth-child(2) {
        justify-content: initial;
    }
}
@media(max-width:1000px){
    /*Na área dos cursos e dos docentes e dos semestre a informação passa a ser vista em coluna*/
    .cursos-area,.docentes-area,.semestres-area{
        flex-direction:column;
    }

    /*A informação é apresentada ocupando toda a largura disponível*/
     .curso,.docente{
        width:auto;
    }
     /*A imagem passa a ser apresentada do lado esquerdo e a informação do lado direito*/
    .docente{
        display:flex;
        flex-direction:row;
    }    
    /*As áreas passam a ser mostradas en coluna*/
    .area-form{
        flex-direction: column;
    }
    /*As áreas à direita passam a ter largura automática e a margem à esquerda passa a ser 0*/
    .form-right-area{
        width:auto;
        margin-left:0;
    }
    /*Os títulos das origens e estatutos aparecem mais à esquerda*/
    .title-items{
        margin-left:50px;
    }
    /*Os radios e checkboxes aparecem mais à esquerda*/
    #origem-area .item-form,#estatutos-area .item-form {
        margin-left:75px;
    }
}

@media (max-width:700px){
    /*Para que os géneros apareçam em coluna*/
    #generos-area{
        flex-direction:column;
    }
}
@media(max-width:600px){
    /*O título principal não é mostrado*/
    header h1{
        display:none;
    }
    /*Todo o conteúdo da página passa a ser mostrado em coluna*/
    .container{
        flex-direction: column;
    }
    /*A área à esquerda da secção principal passa a não ocupar toda a altura disponível*/
    .left-content{
        flex-grow:0;
    }
    /*A área de navegação passa a não estar visível
    Com javacript, ao clicar-se no icone do menu a nav vai aumentar de largura*/
    nav{
        max-height:0px;
    }
    /*Os elementos da lista passam a ocupar todo o espaço disponível, sem margem e com border superior*/
    nav li{
        margin:0;
        border-top:1px solid gray;
        width:auto;
    }
    /*A margem da lista passa a ser 0*/
    nav ul{
        margin:0;
    }
    /*O logo passa a não ter uma largura definida*/
    #logo{
        width:auto;
        margin-left:10px;
    }
    /*O conteúdo da secção principal passa a ser visto em coluna*/
    .content{
        flex-direction:column;
    }
    /*A área lateral passa a ocupar toda a área disponível*/
    aside{
        width:auto;
    }
    /*Passa a ser visível o icone do menu hamburger*/
    #menuIcon{
        display:block;
    }

    /*as legendas dos campos passam a não ter largura definida*/
    .area-form label{
        width:auto;
        text-align: left;
        margin-bottom: 5px;
    }
    /*a maior parte dos elementos passa a estar na forma de coluna*/
    .item-form{
        flex-direction: column;
    }
    /*ambos os géneros mantém-se na mesma linha e o controlo do m23*/
    #generos-area .item-form, .item-form.m23-item{
        flex-direction: row;
    }
    /*As áreas que têm as origens e estatutos mantém-se em linha*/
    #origem-area .item-form,#estatutos-area .item-form {
        flex-direction:row;
        margin-left:10px;
    }
    /*Os títulos das origens e estatutos aparecem a 0px da margem esquerda*/
    .title-items{
        margin-left:0px;
    }
    /*Os campos passam a ter largura automática*/
    .item-form input[type="text"],
    .item-form input[type="email"],
    .item-form select,
    .item-form textarea{
        width:auto;
    }
}

@media (min-width:601px){
    /*
    Em dispositivos com largura de viewport superior a 601px o menu é sempre visível.
    Os estilos atribuidos com javascript têm prioridade em relação ao CSS do ficheiro.
    É por isso necessário utilizar o !important.
    */
    nav{
        max-height:initial !important;
    }
}
